.repository-lang-stats-graph {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.d-flex {
    display: flex!important;
}
.p-0 {
    padding: 0!important;
}
button .linguist {
    cursor: pointer;
    border-radius: 0;
}
.repository-lang-stats-graph .language-color:first-child {
    border-bottom-left-radius: 2px;
}
.repository-lang-stats-graph .language-color {
    line-height: 8px;
    text-indent: -9999px;
}
button.linguist:focus {
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}
